<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Contact Us</h4>
        <ul>
          <li>+1 (844) 326-6000</li>
          <li><a href="mailto:info@cein.com">Email Us</a></li>
          <li>Mon-Fri 9am-3pm PT</li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Customers</h4>
        <ul>
          <li><a href="/myshop/order/list.html">Start a Return</a></li>
          <li><a href="/shopinfo/guide.html">Return Policy</a></li>
          <li><a href="/shopinfo/faq.html">FAQ</a></li>
          <li><a href="#">Catalogs and Mailers</a></li>
          <li><a href="#">About Group Gifting</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Company</h4>
        <ul>
          <li><a href="/shopinfo/company.html">About Us</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Discover Revive</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="/shopinfo/privacy.html">Privacy Policy</a></li>
          <li><a href="/shopinfo/agreement.html">Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-subscription">
      <h3>Get the latest new from us</h3>
      <div class="footer-input-wrap">
        <div class="footer-input">
          <input type="email" placeholder="Enter your email address">
          <p class="legal-text">
            By signing up, you agree to our <a href="/shopinfo/privacy.html">Privacy Policy</a> and <a href="/shopinfo/agreement.html">Terms of Service</a>.
          </p>
        </div>
        <button class="btn btn-dark">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy;CEIN</p>
  </div>
</footer>
